mat-card {
    margin: 15px;
}

.container-fab-demo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    & mat-card {
        height: 300px;
        padding: 20px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 300px;
    }
}

.example-spacer {
    flex: 1 1 auto;
}

.github-logo {
    height: 26px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}

eco-fab-speed-dial {
    margin: 1em;
}
