<mat-toolbar>
    <mat-toolbar-row>
        <span>FAB Speed Dial</span>
        <span class="example-spacer"></span>
        <a mat-button href="https://github.com/ecodev/fab-speed-dial"
            ><img src="github-circle-transparent.svg" class="github-logo" alt="GitHub logo" /> GitHub</a
        >
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="fab-demo-actions">
    <mat-card-header>
        <mat-card-title>Options</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-body-1">
        <p>
            Direction:
            <mat-radio-group [(ngModel)]="direction" name="direction">
                <mat-radio-button value="up">Up</mat-radio-button>
                <mat-radio-button value="down">Down</mat-radio-button>
                <mat-radio-button value="left">Left</mat-radio-button>
                <mat-radio-button value="right">Right</mat-radio-button>
            </mat-radio-group>
        </p>
        <p>
            <mat-slide-toggle [(ngModel)]="spin">Enable Spinning</mat-slide-toggle>
        </p>
    </mat-card-content>
</mat-card>

<div class="container-fab-demo">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Click me</mat-card-title>
        </mat-card-header>

        <mat-card-content class="mat-body-1">
            <mat-slide-toggle [(ngModel)]="open" (click)="stopPropagation($event)">Open</mat-slide-toggle>
            <eco-fab-speed-dial [(open)]="open" [direction]="direction">
                <eco-fab-speed-dial-trigger [spin]="spin">
                    <button mat-fab (click)="doAction('trigger')">
                        <mat-icon class="spin180" fontIcon="add" />
                    </button>
                </eco-fab-speed-dial-trigger>

                <eco-fab-speed-dial-actions>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="search" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="home" />
                    </button>
                    <a href="?param=value" mat-mini-fab>
                        <mat-icon fontIcon="link" />
                    </a>
                </eco-fab-speed-dial-actions>
            </eco-fab-speed-dial>
        </mat-card-content>
    </mat-card>

    <mat-card
        (mouseenter)="myFab.open.set(true); myFab2.open.set(true); myFab3.open.set(true)"
        (mouseleave)="myFab.open.set(false); myFab2.open.set(false); myFab3.open.set(false)"
    >
        <mat-card-header>
            <mat-card-title>Hover me</mat-card-title>
        </mat-card-header>

        <mat-card-content class="mat-body-1">
            <eco-fab-speed-dial #myFab [direction]="direction">
                <eco-fab-speed-dial-trigger [spin]="spin">
                    <button mat-fab (click)="doAction('trigger')">
                        <mat-icon class="spin360" fontIcon="check" />
                    </button>
                </eco-fab-speed-dial-trigger>

                <eco-fab-speed-dial-actions>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="menu" />
                    </button>
                </eco-fab-speed-dial-actions>
            </eco-fab-speed-dial>

            <eco-fab-speed-dial #myFab2 [direction]="direction">
                <eco-fab-speed-dial-trigger [spin]="spin">
                    <button mat-fab (click)="doAction('trigger')">
                        <mat-icon class="spin360" fontIcon="check" />
                    </button>
                </eco-fab-speed-dial-trigger>

                <eco-fab-speed-dial-actions>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="menu" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                </eco-fab-speed-dial-actions>
            </eco-fab-speed-dial>

            <eco-fab-speed-dial #myFab3 [direction]="direction">
                <eco-fab-speed-dial-trigger [spin]="spin">
                    <button mat-fab (click)="doAction('trigger')">
                        <mat-icon class="spin360" fontIcon="check" />
                    </button>
                </eco-fab-speed-dial-trigger>

                <eco-fab-speed-dial-actions>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="menu" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="menu" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="menu" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="menu" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action1')">
                        <mat-icon fontIcon="add" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action2')">
                        <mat-icon fontIcon="edit" />
                    </button>
                    <button mat-mini-fab (click)="doAction('action3')">
                        <mat-icon fontIcon="menu" />
                    </button>
                </eco-fab-speed-dial-actions>
            </eco-fab-speed-dial>
        </mat-card-content>
    </mat-card>
</div>
