name: main
on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # Need all tags to get a version number in-between tags
            - uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  cache: 'yarn'
            - run: yarn --frozen-lockfile
            - run: yarn build-demo
            - uses: actions/upload-artifact@v4
              with:
                  name: dist
                  path: dist/

    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  cache: 'yarn'
            - run: yarn --frozen-lockfile
            - run: ./node_modules/.bin/ng test fab-speed-dial --progress false --watch=false --browsers ChromeHeadless
            - run: ./node_modules/.bin/ng test demo --progress false --watch=false --browsers ChromeHeadless
            - run: yarn e2e

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  cache: 'yarn'
            - run: yarn --frozen-lockfile
            - run: yarn lint

    prettier:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  cache: 'yarn'
            - run: yarn --frozen-lockfile
            - run: ./node_modules/.bin/prettier --experimental-cli --check .

    publish-demo:
        runs-on: ubuntu-latest
        needs:
            - build
            - test
        steps:
            - uses: actions/download-artifact@v4
              with:
                  name: dist
                  path: dist/
            - uses: crazy-max/ghaction-github-pages@v4
              with:
                  build_dir: dist/demo/browser
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
            packages: write
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        needs:
            - build
            - test
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.ref }} # Otherwise our annotated tag is not fetched and we cannot get correct version
            - uses: actions/download-artifact@v4
              with:
                  name: dist
                  path: dist/
            - run: rm .gitignore

            # Publish to npm
            - uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  registry-url: 'https://registry.npmjs.org'
            - run: npm publish dist/fab-speed-dial/

            # Create release
            - name: Get release info
              run: git tag --format '%(contents:body)' --points-at > release-body.txt
            - uses: ncipollo/release-action@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
              with:
                  bodyFile: release-body.txt
